.pageTitle {
  text-align: center;
  font-size: 3.125rem;
  margin-top: 70px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.form > button {
  font-size: 1.5rem;
  padding: 0.4em 1.4em;
  background-color: var(--color-5);
  color: white;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 200ms;
  z-index: 1;
}
.form > button:hover {
  background-color: rgb(65, 65, 65);
}
.form > button:active {
  background-color: black;
}

.form > button[disabled] {
  background-color: var(--color-3);
  cursor: initial;
}

.form > div > p {
  color: var(--color-2);
  font-weight: bold;
}

.form > div > a {
  color: black;
  font-weight: bold;
}
