.pageTitle {
  text-align: center;
  font-size: 3.125rem;
  margin-top: 70px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.form>button {
  font-size: 1.5rem;
  padding: 0.4em 1.4em;
  background-color: var(--color-accent);
  color: var(--color-text-alt);
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 200ms;
  z-index: 1;
}

.form>button:hover {
  background-color: var(--color-accent-dark);
}

.form>button:active {
  background-color: var(--color-accent-light);
}

.form>button[disabled] {
  background-color: var(--color-muted);
  cursor: initial;
}

.form>div>p {
  color: var(--color-muted);
  font-weight: bold;
}

.form>div>a {
  color: var(--color-accent);
  font-weight: bold;
}