/*modal container:  fixed left-0 top-0 w-full h-full grid place-items-center bg-slate-800/50 backdrop-blur-sm z-50 */
/*modal body: relative w-6/12 mx-auto bg-slate-900 p-4 border border-slate-600/50 rounded-lg shadow-lg shadow-slate-400/10 */

.modalContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: var(--color-8);
  backdrop-filter: blur(10px);
  z-index: 5;
}

.modalHeading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.modalBody {
  position: relative;
  width: 50%;
  max-width: 700px;
  background-color: var(--color-1);
  padding: 1rem;
  border: 2px solid var(--color-5);
  border-radius: 1rem;
}

@media screen and (max-width: 600px) {
  .modalBody {
    width: 100%;
  }
}

.closeBtn {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  font-weight: bold;
  padding: 0.3em 0.6em;
  border-radius: 50%;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: var(--color-9);
  color: var(--color-5);
  border: none;
  transition: background-color 200ms;
}

.closeBtn:hover {
  background-color: var(--color-7);
}
