.settingsHeading {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0 20px 0;
  text-align: center;
  user-select: none;
}

.container {
  height: 40vh;
  user-select: none;
}

.settingsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  font-size: 1.5rem;
}

.settingsForm > label {
  display: flex;
  justify-content: space-between;
  width: 20rem;
}

.settingsForm > label > span {
  font-weight: bold;
}

.settingsForm > button {
  font-size: 1.5rem;
  padding: 0.4em 1.4em;
  background-color: var(--color-5);
  color: white;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 200ms;
  z-index: 1;
}
.settingsForm > button:hover {
  background-color: rgb(65, 65, 65);
}
.settingsForm > button:active {
  background-color: black;
}

.settingsForm > button[disabled] {
  background-color: var(--color-3);
  cursor: initial;
}
