.brandingDiv {
  display: flex;
  justify-content: space-between;
}

.brandingText {
  font-size: 1.5rem;
}
.usernameText {
  font-size: 1.5rem;
  font-weight: bold;
}

.blackStrip {
  background-color: black;
  width: max(calc(100vh + 15px), 100%);
  height: 60px;
}
