:root {
  --color-1: #f5f5f5;
  --color-2: #bfbfbf;
  --color-3: #747474;
  --color-4: #252525;
  --color-5: #000000;
  --color-6: #ff8989;
  --color-7-ligher: #fff2db;
  --color-7: #f7b131;
  --color-8: rgba(185, 185, 185, 0.5);
  --color-9: rgb(255, 89, 89);
  --color-10: rgb(255, 38, 38);
  --color-11: rgb(0, 236, 32);
  --color-11-darker: rgb(0, 187, 25);

  --time-column-width: 8rem;
  --task-column-width: 10rem;
  --task-column-min-width: 5rem;
  --task-grid-column-gap: 5px;
  --task-grid-row-gap: 15px;
  --task-segment-height: 5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
}
body {
  background-color: var(--color-1);
  min-height: 100vh;
  position: relative;
}
.container {
  margin: 0 80px;
  height: inherit;
}

@media screen and (max-width: 920px) {
  .container {
    width: 100%;
    margin: 0;
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 23rem;
  height: 4rem;
  display: block;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--color-3);
  border: 1px solid var(--color-2);
  font-weight: 500;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: var(--color-2);
}

.formError {
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
}
