:root {
  --color-1: #f5f5f5;
  --color-2: #bfbfbf;
  --color-3: #747474;
  --color-4: #252525;
  --color-5: #000000;
  --color-6: #ff8989;
  --color-7: #f7b131;
  --color-8: rgba(185, 185, 185, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
}
body {
  background-color: var(--color-1);
  min-height: 100vh;
  position: relative;
}
.container {
  margin: 0 80px;
  height: inherit;
}

@media screen and (max-width: 480px) {
  .container {
    margin: 0;
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 400px;
  height: 70px;
  display: block;
  border-radius: 15px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--color-3);
  border: 1px solid var(--color-2);
  font-weight: 500;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: var(--color-2);
}

.formError {
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
}
